<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
         .form-container {
            flex: 1;
            padding: 20px;
            box-sizing: border-box;
            margin-bottom: 30px;
        }
        .table-response table {
            width: 100%;
            border-collapse: collapse;
        }
        .table-response th, .table-response td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        .table-response th {
            background-color: #f4f4f4;
        }
        .form-group {
            margin-bottom: 15px;
        }
        .btn-primary, .btn-secondary, .btn-danger {
            margin-top: 10px;
            margin-right: 5px;
        }
        .search-container {
            display: flex;
            align-items: center;
        }
        .search-container input {
            margin-right: 10px;
        }
    </style>
</head>
<body>
<div class="form-container">
    <h2>브랜드 추가</h2>
    <form id="brandForm">
        <div class="form-group search-container">
            <input type="text" class="form-control" id="addBrandVal" name="addBrandVal" placeholder="Enter brand name" required>
            <button type="button" class="btn btn-primary" onclick="addBrand()">Add Brand</button>
        </div>

    </form>

    <h2>상품 추가</h2>
    <form id="productForm">
        <div class="form-group search-container">
            <input type="text" class="form-control" id="brandNm" name="brandNm" placeholder="Enter brand name" required>
            <input type="text" class="form-control" id="categoryNm" name="categoryNm"placeholder="Enter category name"required>
            <input type="number" class="form-control" id="price" name="price" placeholder="Enter price" required>
            <button type="button" class="btn btn-primary" onclick="addProduct()">Add Product</button>
        </div>
    </form>

    <h2>카테고리 상품정보</h2>
    <div class="form-group search-container">
        <label for="searchCategory">카테고리명</label>
        <input type="text" class="form-control" id="searchCategory" placeholder="Enter category name">
        <button type="button" class="btn btn-secondary" onclick="searchProducts()">Search</button>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Category</th>
            <th>Lowest Brand</th>
            <th>Lowest Price</th>
            <th>Highest Brand</th>
            <th>Highest Price</th>
        </tr>
        </thead>
        <tbody id="productList"></tbody>
    </table>
</div>

<script>
    $(document).ready(function() {
        getRefresh();
    });

    function getRefresh(){
        loadProducts();
    }

    function loadProducts() {
        $.get("/api/v1/products", function(data) {
            var tableBody = $('#products-table tbody');
            tableBody.empty();
            data.forEach(function(item) {
                var row = '<tr>' +
                    '<td>' + item.id + '</td>' +
                    '<td><input type="number" value="' + item.brandNm + '" class="form-control" id="productBrand-' + item.id + '"></td>' +
                    '<td><input type="number" value="' + item.categoryNm + '" class="form-control" id="productCategory-' + item.id + '"></td>' +
                    '<td><input type="number" value="' + item.price + '" class="form-control" id="productPrice-' + item.id + '"></td>' +
                    '<td>' +
                    '<button class="btn btn-primary" onclick="updateProduct(' + item.id + ')">Update</button>' +
                    '<button class="btn btn-danger" onclick="deleteProduct(' + item.id + ')">Delete</button>' +
                    '</td>' +
                    '</tr>';
                tableBody.append(row);
            });
        }).fail(function(data) {
            alert(data.responseJSON.message);
        });
    }

    function addBrand() {
        var formData = {
            name: $("#addBrandVal").val()
        };

        $.ajax({
            url: '/api/v1/brands',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(formData),
            success: function (data) {
                alert(data.message)
                $('#brandForm')[0].reset();
                getRefresh();
            },
            error: function(data) {
                alert(data.responseJSON.message);
            }
        });
    }

    function addProduct() {
        var formData = {
            brandNm: $("#brandNm").val(),
            categoryNm: $("#categoryNm").val(),
            price: $("#price").val()
        };

        $.ajax({
            url: '/api/v1/products',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(formData),
            success: function (data) {
                alert(data.message);
                $('#productForm')[0].reset();
                getRefresh();
            },
            error: function(data) {
                alert(data.responseJSON.message);
            }
        });
    }

    function searchProducts() {
        var category = $("#searchCategory").val();

        if(category === '') {
            alert('카테고리명을 입력해주세요.');
            return;
        }

        $.ajax({
            url: '/api/v1/products/category/'+category,
            type: 'GET',
            success: function (data) {
                var productList = $('#productList');
                productList.empty();
                var row = '<tr>' +
                    '<td>' + data.categoryNm + '</td>' +
                    '<td>' + data.lowestPrice.brandNm + '</td>' +
                    '<td>' + data.lowestPrice.price + '</td>' +
                    '<td>' + data.highestPrice.brandNm + '</td>' +
                    '<td>' + data.highestPrice.price + '</td>' +
                    '</tr>';
                productList.append(row);
            },
            error: function(data) {
                alert(data.responseJSON.message);
            }
        });
    }
</script>
</body>
</html>
